@font-face {
  font-family: "JosefinSlab-Bold";
  src: url("../fonts/JosefinSlab-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "Tahoma-Regular";
  src: url("../fonts/Tahoma-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Gudea-Regular";
  src: url("../fonts/Gudea-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Gudea-Bold";
  src: url("../fonts/Gudea-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "DancingScript-Bold";
  src: url("../fonts/DancingScript-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "DancingScript-Regular";
  src: url("../fonts/DancingScript-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Charmonman-Regular";
  src: url("../fonts/Charmonman-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Audiowide-Regular";
  src: url("../fonts/Audiowide-Regular.ttf") format("truetype"); }
p, ul, a, h1, h2, h3, h4, h5, h6 {
  font-family: Gudea-Regular;
  margin: 0;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  transition: all ease 0.3s; }

p, ul, ol {
  margin: 0; }

p, a {
  color: #4a4a4a;
  line-height: 1; }

a:hover, a:visited, a:active {
  text-decoration: none; }

.menu-dark {
  background-color: #383838de;
  border-bottom: 1px solid #adadad; }
  .menu-dark .menu-row .menu-col {
    height: 50px !important; }

.color-dark {
  color: #363636 !important; }

.transparent-bcg {
  background-color: transparent !important;
  border-bottom: 0 !important; }

.display-none {
  display: none; }

.w-40 {
  width: 40%; }

.w-60 {
  width: 60%; }

.fade-top {
  top: -1000px !important; }

.vertical-scroll-disabled {
  overflow: hidden !important;
  height: 100%; }

.red {
  color: #f66e6f; }

.bcg-red {
  background-color: #f66e6f; }

.green {
  color: #12d879; }

.bcg-green {
  background-color: #12d879; }

.yellow {
  color: #f6cf69; }

.bcg-yellow {
  background-color: #f6cf69; }

.blue {
  color: #3498db; }

.bcg-blue {
  background-color: #3498db; }

.max-container {
  max-width: 1900px; }

.max-row {
  max-width: 1200px; }

.dropdown-toggle::after {
  content: none; }

.right-0 {
  right: 0; }

.left-0 {
  left: 0; }

.mapouter {
  text-align: right;
  height: 100%;
  width: 100%; }

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%; }

.menu-item {
  position: relative; }
  .menu-item .underline {
    z-index: -1;
    top: 95%;
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: transparent;
    transition: all ease 0.3s; }

.menu-item:hover .underline {
  background-color: #d6c427; }

.section-img {
  float: right;
  right: 0; }

.section-title {
  font: 38px Gudea-Bold;
  line-height: 1.5; }

.section-subtitle {
  font-size: 26px; }

.section-text {
  font-size: 20px;
  line-height: 1.4; }

.section-card-title {
  font-size: 22px; }

.section-card-text {
  font-size: 16px; }

.clients-slider {
  padding: 10px 0;
  overflow-x: hidden;
  width: 100%; }
  .clients-slider img {
    padding: 0 10px; }

.socials-wrap {
  margin-top: 30px;
  border-left: 0;
  display: flex; }
  .socials-wrap a {
    margin-right: 20px; }
    .socials-wrap a .fa {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      width: 45px;
      height: 45px;
      padding: 7px;
      transition: all ease 0.3s;
      border: 1px solid transparent;
      background-color: transparent; }
    .socials-wrap a .fa-facebook {
      color: #3b5998; }
    .socials-wrap a .fa-twitter {
      color: #01acec; }
    .socials-wrap a .fa-youtube {
      color: red; }
    .socials-wrap a .fa-instagram {
      color: #dd6758; }
  .socials-wrap a:last-child {
    margin-right: 0; }
  .socials-wrap a:hover .fa-facebook {
    color: white;
    background-color: #3b5998; }
  .socials-wrap a:hover .fa-twitter {
    color: white;
    background-color: #01acec; }
  .socials-wrap a:hover .fa-youtube {
    color: white;
    background-color: red; }
  .socials-wrap a:hover .fa-instagram {
    color: white;
    background-color: #dd6758; }

.section-underline {
  background-color: #d6c427;
  height: 3px;
  width: 50px;
  margin: 0 auto; }

@media only screen and (max-width: 768px) {
  .menu-item .underline {
    display: none; }

  .section-underline {
    background-color: #d6c427;
    height: 2px;
    width: 30px;
    border-radius: 2px; }

  .section-title {
    line-height: 1.3;
    font: 24px Gudea-Bold; }

  .section-subtitle {
    font-size: 18px; }

  .section-text {
    line-height: 1.2;
    font-size: 16px; }

  .section-card-title {
    font-size: 18px; }

  .section-card-text {
    display: none; }

  .menu-dark .menu-row .menu-col {
    height: 40px !important; }

  .socials-wrap {
    margin-top: 15px;
    border-left: 0;
    display: flex; }
    .socials-wrap a {
      margin-right: 20px; }
      .socials-wrap a .fa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        width: 25px;
        height: 25px;
        padding: 5px;
        transition: all ease 0.3s;
        border: 1px solid transparent;
        background-color: transparent; }
      .socials-wrap a .fa-facebook {
        color: #3b5998; }
      .socials-wrap a .fa-twitter {
        color: #01acec; }
      .socials-wrap a .fa-youtube {
        color: red; }
      .socials-wrap a .fa-instagram {
        color: #dd6758; }
    .socials-wrap a:last-child {
      margin-right: 0; }
    .socials-wrap a:hover .fa-facebook {
      color: white;
      background-color: #3b5998; }
    .socials-wrap a:hover .fa-twitter {
      color: white;
      background-color: #01acec; }
    .socials-wrap a:hover .fa-youtube {
      color: white;
      background-color: red; }
    .socials-wrap a:hover .fa-instagram {
      color: white;
      background-color: #dd6758; } }
.services-bcg {
  background-image: linear-gradient(rgba(102, 102, 102, 0.7), rgba(102, 102, 102, 0.7)), url("../img/bcg/computer-1245714_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.services-sp .services-row {
  padding-top: 50px;
  height: 400px; }
  .services-sp .services-row .img-col .hover-bcg {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #3e7c36ee;
    transition: all ease 0.3s; }
    .services-sp .services-row .img-col .hover-bcg .hover-bcg-inner {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center; }
      .services-sp .services-row .img-col .hover-bcg .hover-bcg-inner .service-inner-desc {
        font-size: 20px;
        width: 100%;
        padding: 0 5px;
        color: white;
        text-align: center; }
      .services-sp .services-row .img-col .hover-bcg .hover-bcg-inner .border {
        position: absolute;
        height: 70%;
        width: 2px;
        background-color: white; }
  .services-sp .services-row .web-service-bcg {
    background-image: url("../img/bcg/technology-1283624_1920.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease 2s; }
  .services-sp .services-row .mob-app-bcg {
    background-image: url("../img/bcg/ux-787980_1920.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease 2s; }
  .services-sp .services-row .seo-bcg {
    background-image: url("../img/bcg/font-705667_1920.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease 2s; }
  .services-sp .services-row .social-marketing-bcg {
    background-image: url("../img/bcg/social-media-1795578_1920.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease 2s; }
  .services-sp .services-row .digital-marketing-bcg {
    background-image: url("../img/bcg/digital-marketing-1433427_1920.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease 2s; }
  .services-sp .services-row .branding-bcg {
    background-image: url("../img/bcg/hand-3190204_1920.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease 2s; }
  .services-sp .services-row .service-text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 30px; }
    .services-sp .services-row .service-text-col .service-top-title {
      font-size: 26px;
      color: #909090; }
    .services-sp .services-row .service-text-col .service-main-title {
      font-family: Gudea-Bold;
      font-size: 50px;
      margin: 20px 0; }
    .services-sp .services-row .service-text-col .fa {
      color: #909090;
      font-size: 25px;
      transition: all ease 0.3s; }
.services-sp .services-row:hover .img-col .hover-bcg {
  opacity: 1; }
.services-sp .services-row:hover .service-text-col .fa {
  color: #17cf17; }
.services-sp .services-row:hover .web-service-bcg {
  background-position: right; }
.services-sp .services-row:hover .seo-bcg {
  background-position: right; }
.services-sp .services-row:hover .social-marketing-bcg {
  background-position: right; }
.services-sp .services-row:hover .digital-marketing-bcg {
  background-position: right; }
.services-sp .services-row:hover .branding-bcg {
  background-position: right; }

@media only screen and (max-width: 768px) {
  .services-sp .services-row {
    padding-top: 5px;
    height: 250px; }
    .services-sp .services-row .img-col {
      height: 70%; }
      .services-sp .services-row .img-col .hover-bcg .hover-bcg-inner .service-inner-desc {
        font-size: 14px; }
    .services-sp .services-row .service-text-col {
      padding: 10px 20px;
      height: 30%;
      justify-content: flex-end; }
      .services-sp .services-row .service-text-col .service-top-title {
        font-size: 16px; }
      .services-sp .services-row .service-text-col .service-main-title {
        font-size: 22px;
        margin: 3px 0 0; } }
.about-bcg {
  background-image: linear-gradient(rgba(102, 102, 102, 0.7), rgba(102, 102, 102, 0.7)), url("../img/bcg/home-office-569359_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.about-sp .about-sp-row .accordion {
  padding: 50px 0;
  max-width: 1000px; }
  .about-sp .about-sp-row .accordion .about-acc-btn {
    font-size: 18px;
    margin: 5px 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    text-align: right;
    transition: all ease 0.3s;
    color: #07d629;
    font-family: Gudea-Regular; }
  .about-sp .about-sp-row .accordion .collapsed {
    color: #272727; }
  .about-sp .about-sp-row .accordion .about-acc-btn:hover {
    color: #07d629; }
  .about-sp .about-sp-row .accordion .collapse .card-body .about-acc-text {
    transition: all ease 0.4s;
    line-height: 1.8; }
.about-sp .clients-sp {
  padding-bottom: 40px; }
  .about-sp .clients-sp .clients-main-title {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px; }
  .about-sp .clients-sp .clients-desc {
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: #929292;
    margin-bottom: 40px; }
  .about-sp .clients-sp .clients-col {
    display: flex;
    align-items: center; }
    .about-sp .clients-sp .clients-col img {
      width: 100%;
      height: auto; }

@media only screen and (max-width: 768px) {
  .about-sp .about-sp-row .accordion {
    padding: 20px 0 30px; }
    .about-sp .about-sp-row .accordion .about-acc-btn {
      width: 33%;
      text-align: center; }
    .about-sp .about-sp-row .accordion .about-acc-text {
      text-align: center;
      line-height: 1.1; }
    .about-sp .about-sp-row .accordion .card-body {
      padding: 5px; }
  .about-sp .clients-sp .clients-main-title {
    font-size: 30px;
    margin-bottom: 5px; }
  .about-sp .clients-sp .clients-desc {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center; } }
.contact-bcg {
  background-image: linear-gradient(rgba(102, 102, 102, 0.7), rgba(102, 102, 102, 0.7)), url("../img/bcg/rotary-691528_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.contact-sp .contact-row {
  max-width: 800px; }
  .contact-sp .contact-row .contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    width: 100%;
    max-width: 500px; }
    .contact-sp .contact-row .contact-form .general-field {
      width: 100%;
      margin-bottom: 40px;
      padding: 0 5px;
      transition: all ease 0.3s;
      outline: 1px solid transparent;
      border: 0;
      background-color: #f5f5f5;
      border-bottom: 2px solid #a3a3a3; }
    .contact-sp .contact-row .contact-form .text-field {
      width: 100%;
      margin: 5px;
      padding: 5px;
      transition: all ease 0.3s;
      outline: 1px solid transparent;
      resize: none;
      height: 120px;
      border: 0;
      background-color: #f5f5f5;
      border-bottom: 2px solid #a3a3a3; }
    .contact-sp .contact-row .contact-form .submit-btn {
      border: 2px solid #37b137;
      padding: 5px 10px;
      margin-top: 15px;
      width: fit-content;
      transition: all ease 0.3s;
      background-color: transparent; }
    .contact-sp .contact-row .contact-form .general-field:focus {
      outline: 1px solid #e6e6e6;
      background-color: #f7ffdd;
      border-bottom: 2px solid #05aa05; }
    .contact-sp .contact-row .contact-form .text-field:focus {
      outline: 1px solid #e6e6e6;
      background-color: #f7ffdd;
      border-bottom: 2px solid #05aa05; }
    .contact-sp .contact-row .contact-form .submit-btn:hover {
      color: white;
      border: 2px solid #37b137;
      background-color: #37b137; }
    .contact-sp .contact-row .contact-form input, .contact-sp .contact-row .contact-form textarea {
      font-family: Gudea-Regular;
      font-size: 16px;
      border-radius: 2px; }
    .contact-sp .contact-row .contact-form input::placeholder, .contact-sp .contact-row .contact-form textarea::placeholder {
      font-family: Gudea-Regular;
      font-size: 16px;
      color: #afafaf; }
  .contact-sp .contact-row .contact-text {
    max-width: 500px;
    font-size: 40px;
    font-family: Gudea-Bold;
    margin-bottom: 15px; }
  .contact-sp .contact-row .contact-phone {
    font-size: 22px;
    color: #4a4a4a;
    transition: all ease 0.3s; }
  .contact-sp .contact-row .contact-phone:hover {
    color: #08bb08; }
  .contact-sp .contact-row .info-col .info-head {
    font-family: Gudea-Bold;
    margin-bottom: 5px; }
  .contact-sp .contact-row .info-col .info-text {
    color: #808080; }
  .contact-sp .contact-row .info-col .socials-wrap {
    margin-top: 30px;
    border-left: 0;
    display: flex; }
    .contact-sp .contact-row .info-col .socials-wrap a {
      margin-right: 20px; }
      .contact-sp .contact-row .info-col .socials-wrap a .fa {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        width: 45px;
        height: 45px;
        padding: 7px;
        transition: all ease 0.3s;
        color: white; }
      .contact-sp .contact-row .info-col .socials-wrap a .fa-facebook {
        border: 1px solid #3b5998;
        background-color: #3b5998; }
      .contact-sp .contact-row .info-col .socials-wrap a .fa-twitter {
        border: 1px solid #01acec;
        background-color: #01acec; }
      .contact-sp .contact-row .info-col .socials-wrap a .fa-youtube {
        border: 1px solid red;
        background-color: red; }
      .contact-sp .contact-row .info-col .socials-wrap a .fa-instagram {
        border: 1px solid #dd6758;
        background-color: #dd6758; }
    .contact-sp .contact-row .info-col .socials-wrap a:last-child {
      margin-right: 0; }
    .contact-sp .contact-row .info-col .socials-wrap a:hover .fa-facebook {
      color: #3b5998;
      background-color: white; }
    .contact-sp .contact-row .info-col .socials-wrap a:hover .fa-twitter {
      color: #01acec;
      background-color: white; }
    .contact-sp .contact-row .info-col .socials-wrap a:hover .fa-youtube {
      color: red;
      background-color: white; }
    .contact-sp .contact-row .info-col .socials-wrap a:hover .fa-instagram {
      color: #dd6758;
      background-color: white; }
  .contact-sp .contact-row .info-col .address-wrap, .contact-sp .contact-row .info-col .phone-wrap, .contact-sp .contact-row .info-col .email-wrap {
    padding: 5px 5px 5px 15px;
    margin: 30px 0;
    border-left: 2px solid #05aa05; }

.map-row {
  height: 500px; }

@media only screen and (max-width: 768px) {
  .contact-sp {
    padding-bottom: 20px !important; }
    .contact-sp .contact-row .contact-form {
      padding: 5px; }
      .contact-sp .contact-row .contact-form .general-field {
        margin-bottom: 20px; }
      .contact-sp .contact-row .contact-form .submit-btn {
        margin: 0 auto;
        margin-top: 10px; }
    .contact-sp .contact-row .contact-text {
      font-size: 28px; }
    .contact-sp .contact-row .contact-phone {
      font-size: 16px; }
    .contact-sp .contact-row .info-col {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contact-sp .contact-row .info-col .address-wrap {
        margin-top: 10px !important; }
      .contact-sp .contact-row .info-col .socials-wrap {
        display: flex;
        justify-content: space-between; }
      .contact-sp .contact-row .info-col .address-wrap, .contact-sp .contact-row .info-col .phone-wrap, .contact-sp .contact-row .info-col .email-wrap, .contact-sp .contact-row .info-col .socials-wrap {
        margin: 0 0 20px 0;
        width: 230px; }

  .map-row {
    height: 250px; } }
nav a, .mobile-body a {
  font-family: JosefinSlab-Regular, sans-serif; }
nav a:hover, nav a:active, .mobile-body a:hover, .mobile-body a:active {
  color: #4a4a4a; }

.clients-container, .contact-sp, .team-container, .s-detail-container, .reviews-container {
  padding: 70px 0; }

.menu-container {
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all ease 0.3s; }
  .menu-container .menu-row .menu-col {
    display: flex;
    align-items: center;
    transition: all ease 0.7s; }
    .menu-container .menu-row .menu-col .logo-wrap img {
      height: 75px; }
    .menu-container .menu-row .menu-col .desktop-menu {
      display: flex;
      align-items: center;
      transition: all ease 0.3s; }
      .menu-container .menu-row .menu-col .desktop-menu .menu-item {
        margin-right: 45px; }
        .menu-container .menu-row .menu-col .desktop-menu .menu-item a {
          color: white;
          font-family: Gudea-Bold;
          font-size: 16px; }
        .menu-container .menu-row .menu-col .desktop-menu .menu-item .log-in-btn {
          padding: 5px 10px;
          border-radius: 5px;
          color: inherit;
          border: 1px solid #b4b4b4;
          background-color: transparent;
          transition: all ease 0.3s; }
        .menu-container .menu-row .menu-col .desktop-menu .menu-item .log-in-btn:hover {
          color: white;
          border-color: #d6c427;
          background-color: #d6c427; }
      .menu-container .menu-row .menu-col .desktop-menu .menu-item:last-child {
        margin-right: 0; }

.new-slider {
  position: relative;
  height: 100vh; }
  .new-slider .new-slider-row {
    z-index: 2;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; }
    .new-slider .new-slider-row .new-slider-col {
      z-index: 2; }
      .new-slider .new-slider-row .new-slider-col .typewrite {
        font-size: 70px;
        color: #e4e4e4;
        font-family: Audiowide-Regular; }

.slider-container {
  margin-top: 50px; }
  .slider-container .slider-row .carousel {
    display: flex;
    align-items: center;
    padding: 0 5%; }
    .slider-container .slider-row .carousel .carousel-card {
      height: 400px; }
      .slider-container .slider-row .carousel .carousel-card .carousel-text {
        color: #363636;
        font-size: 40px;
        text-decoration: underline;
        text-decoration-color: #a3ea99bf; }
    .slider-container .slider-row .carousel .fa-arrow-right, .slider-container .slider-row .carousel .fa-arrow-left {
      position: absolute;
      font-size: 25px;
      color: #4cda36; }
    .slider-container .slider-row .carousel .carousel-control-prev, .slider-container .slider-row .carousel .carousel-control-next {
      width: 15%; }
    .slider-container .slider-row .carousel .fa-arrow-left {
      left: 0; }
    .slider-container .slider-row .carousel .fa-arrow-right {
      right: 0; }

.partners-container {
  background-color: #515151;
  padding: 20px 0; }
  .partners-container .partners-row .info-col {
    border-right: 2px solid #d6c427; }
    .partners-container .partners-row .info-col .info-wrap {
      padding: 15px 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .partners-container .partners-row .info-col .info-wrap .company-name {
        color: white;
        font-family: Gudea-Bold;
        font-size: 46px;
        margin-bottom: 20px; }
      .partners-container .partners-row .info-col .info-wrap .company-slogan {
        color: white;
        font-size: 25px; }
  .partners-container .partners-row .partners-col .partners-wrap {
    width: 100%; }
    .partners-container .partners-row .partners-col .partners-wrap .partner {
      display: flex;
      margin: 15px 0; }
      .partners-container .partners-row .partners-col .partners-wrap .partner .partner-img-wrap {
        min-width: 200px; }
        .partners-container .partners-row .partners-col .partners-wrap .partner .partner-img-wrap .partner-img {
          width: auto;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px; }
      .partners-container .partners-row .partners-col .partners-wrap .partner .sub-service .sub-service-img {
        width: 50px;
        height: 50px;
        border-radius: 5px; }
  .partners-container .partners-row .partners-text {
    color: white;
    padding-top: 20px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    line-height: 1.4; }

.mobile-menu {
  display: none; }
  .mobile-menu .mobile-btn .fa {
    color: #fff;
    cursor: pointer;
    transition: all ease 0.3s; }

.mobile-body {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  box-shadow: 2px 4px 5px #e4e4e4;
  transition: all ease 0.5s; }
  .mobile-body a {
    font-size: 18px;
    padding: 10px 0;
    display: block;
    text-align: center;
    border-bottom: 1px solid #e4e4e4; }

.service-container .service-submain {
  font-size: 20px;
  text-align: center; }
.service-container .service-row .service {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 220px;
  font-family: SourceSansPro-Regular;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  transition: all ease 0.2s; }
  .service-container .service-row .service .fa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid lightgray;
    font-size: 40px;
    transition: all ease 0.2s; }
  .service-container .service-row .service .fa-code {
    color: #4ebadc; }
  .service-container .service-row .service .fa-line-chart {
    color: #56de3e; }
  .service-container .service-row .service .fa-diamond {
    color: #ea5151; }
  .service-container .service-row .service .service-title {
    font-size: 20px;
    transition: all ease 0.2s; }
  .service-container .service-row .service .service-text {
    font-size: 16px;
    color: gray;
    transition: all ease 0.2s; }
.service-container .service-row .service:hover {
  box-shadow: 0px 0px 8px 4px #ececec; }
  .service-container .service-row .service:hover .service-title {
    font-size: 22px;
    color: #4cda36; }
  .service-container .service-row .service:hover .service-text {
    color: black; }
  .service-container .service-row .service:hover .fa {
    border: 1px solid #4cda36; }
.service-container .service-row .service:focus, .service-container .service-row .service:focus {
  box-shadow: none; }

.team-container .team-row {
  align-items: center; }
  .team-container .team-row .team-bottom {
    display: flex;
    justify-content: space-around;
    align-items: flex-end; }
    .team-container .team-row .team-bottom .seal-wrap .seal {
      border-radius: 50%;
      border: 5px solid transparent;
      height: 150px;
      width: 150px; }
    .team-container .team-row .team-bottom .learn-more-btn .learn-btn {
      position: relative; }
      .team-container .team-row .team-bottom .learn-more-btn .learn-btn a {
        display: flex;
        color: white;
        padding: 40px 120px 40px 40px;
        background-color: #4cda36;
        font: 20px Gudea-Bold; }
      .team-container .team-row .team-bottom .learn-more-btn .learn-btn .fa-long-arrow-right {
        position: absolute;
        color: white;
        top: 44px;
        right: 85px;
        transition: all ease 0.3s; }
    .team-container .team-row .team-bottom .learn-more-btn .learn-btn:hover .fa-long-arrow-right {
      right: 30px;
      color: inherit; }

.s-detail-container .s-detail-row .s-detail .s-card-wrap .s-card {
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .s-detail-container .s-detail-row .s-detail .s-card-wrap .s-card .s-icon .fa {
    font-size: 50px; }
  .s-detail-container .s-detail-row .s-detail .s-card-wrap .s-card .s-text {
    display: inline-block;
    width: 70%;
    font-family: Gudea-Regular; }
  .s-detail-container .s-detail-row .s-detail .s-card-wrap .s-card .section-card-text {
    color: #828282; }

.steps-container {
  padding-bottom: 70px; }
  .steps-container .steps-row {
    position: relative; }
    .steps-container .steps-row .steps-card-wrap {
      padding: 20px;
      cursor: pointer; }
      .steps-container .steps-row .steps-card-wrap .steps-card {
        margin: 0 auto;
        height: 150px;
        width: 150px;
        padding: 15px;
        z-index: 2;
        background-color: white;
        box-shadow: inset 0px 5px 16px -2px #bbbaba;
        border-radius: 50%;
        transition: all ease 1s; }
        .steps-container .steps-row .steps-card-wrap .steps-card .steps-card-nr {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          font-size: 36px;
          font-family: Gudea-Bold;
          border-radius: 50%;
          box-shadow: inset 0px -4px 16px -2px #bbbaba;
          background-color: white;
          transition: all ease 0.3s; }
      .steps-container .steps-row .steps-card-wrap .steps-card:hover {
        box-shadow: inset 0px -5px 16px -2px #bbbaba; }
        .steps-container .steps-row .steps-card-wrap .steps-card:hover .steps-card-nr {
          background-color: #00a100;
          color: white !important;
          box-shadow: none; }
      .steps-container .steps-row .steps-card-wrap .steps-card-title {
        text-align: center;
        margin-top: 10px;
        font-size: 18px;
        font-family: Gudea-Bold; }
    .steps-container .steps-row .back-line {
      position: absolute;
      width: 80%;
      height: 25px;
      background-color: white;
      box-shadow: inset 0px 5px 16px -2px #bbbaba;
      top: 34%;
      left: 10%; }
  .steps-container .card-body .card-body-text {
    font-size: 16px;
    text-align: center;
    line-height: 1.2; }
  .steps-container .card-body .slider-line {
    height: 10px;
    background-color: #4CAF50;
    margin-bottom: 5px;
    border-radius: 3px; }
    .steps-container .card-body .slider-line .small-arrow-up {
      float: right;
      position: relative;
      top: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #4CAF50; }
    .steps-container .card-body .slider-line .right-1 {
      right: 60%; }
    .steps-container .card-body .slider-line .right-2 {
      right: 25%; }
    .steps-container .card-body .slider-line .right-3 {
      right: 13%; }
    .steps-container .card-body .slider-line .right-4 {
      right: 8%; }

.packages-container .packages-row .package-card-wrap {
  padding: 1px 1px 5px 1px;
  height: 400px;
  padding: 10px;
  transition: all ease 0.3s; }
  .packages-container .packages-row .package-card-wrap .package-card {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    border-top: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom: 5px solid #c4c4c4; }
    .packages-container .packages-row .package-card-wrap .package-card .fa {
      margin-top: 15px;
      font-size: 60px;
      transition: all ease 0.3s; }
    .packages-container .packages-row .package-card-wrap .package-card .package-name {
      font-size: 26px; }
    .packages-container .packages-row .package-card-wrap .package-card .package-price {
      font-size: 26px;
      font-family: Gudea-Bold; }
    .packages-container .packages-row .package-card-wrap .package-card .separator {
      margin: 0 auto;
      width: 30%;
      height: 1px;
      background-color: #c4c4c4;
      transition: all ease 0.3s; }
    .packages-container .packages-row .package-card-wrap .package-card .buy-btn {
      width: fit-content;
      margin: 0 auto;
      border: 1px solid #c4c4c4;
      border-radius: 20px;
      padding: 10px 20px;
      color: inherit;
      background-color: transparent;
      transition: all ease 0.3s; }
    .packages-container .packages-row .package-card-wrap .package-card .buy-btn:hover {
      color: white;
      background-color: #66c566;
      border: 1px solid #66c566; }
.packages-container .packages-row .package-card-wrap:hover .package-card {
  border-top: 1px solid #66c566;
  border-left: 1px solid #66c566;
  border-right: 1px solid #66c566;
  border-bottom: 5px solid #66c566; }
  .packages-container .packages-row .package-card-wrap:hover .package-card .fa {
    color: #66c566; }
  .packages-container .packages-row .package-card-wrap:hover .package-card .separator {
    background-color: #66c566; }

.reviews-container {
  padding: 40px 0;
  background-image: linear-gradient(rgba(51, 51, 51, 0.82) 0%, rgba(105, 105, 105, 0.59) 100%), url("../img/bcg/purple-690724_1920.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat; }
  .reviews-container .reviews-row {
    padding: 0 15px;
    flex-direction: column; }
    .reviews-container .reviews-row .carousel .carousel-item {
      padding: 30 0px; }
      .reviews-container .reviews-row .carousel .carousel-item .inner-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .reviews-container .reviews-row .carousel .carousel-item .inner-wrap .quote, .reviews-container .reviews-row .carousel .carousel-item .inner-wrap .author, .reviews-container .reviews-row .carousel .carousel-item .inner-wrap .author-position {
          color: white; }
        .reviews-container .reviews-row .carousel .carousel-item .inner-wrap .quote {
          max-width: 500px;
          text-align: center;
          font-size: 18px;
          line-height: 1.4; }
        .reviews-container .reviews-row .carousel .carousel-item .inner-wrap .author-wrap {
          max-width: 500px;
          display: flex;
          flex-direction: column;
          align-items: flex-end; }
          .reviews-container .reviews-row .carousel .carousel-item .inner-wrap .author-wrap .author {
            font-size: 20px;
            margin-top: 10px;
            font-family: Charmonman-Regular; }
          .reviews-container .reviews-row .carousel .carousel-item .inner-wrap .author-wrap .author-position {
            float: right; }
    .reviews-container .reviews-row .section-title {
      color: white; }
  .reviews-container .clients-row {
    padding-top: 10px; }

.footer-container {
  padding: 40px 0;
  box-shadow: inset -1px 5px 12px #bdbdbd;
  background-color: #ececec; }
  .footer-container .footer-row .footer-card {
    margin: 0 auto;
    width: 180px; }
    .footer-container .footer-row .footer-card .footer-head {
      display: flex;
      width: fit-content; }
      .footer-container .footer-row .footer-card .footer-head .footer-title {
        font-family: Gudea-Bold; }
    .footer-container .footer-row .footer-card .footer-body {
      font-size: 18px;
      width: fit-content; }
      .footer-container .footer-row .footer-card .footer-body ul {
        width: inherit;
        display: flex;
        flex-direction: column; }
        .footer-container .footer-row .footer-card .footer-body ul li {
          display: flex;
          width: inherit;
          margin: 8px 0; }
      .footer-container .footer-row .footer-card .footer-body .partner-img {
        width: auto;
        height: 50px;
        box-shadow: 3px 3px 5px #a2a2a2;
        margin-bottom: 10px; }
      .footer-container .footer-row .footer-card .footer-body .partner-img:last-child {
        margin-bottom: 0; }
      .footer-container .footer-row .footer-card .footer-body a {
        color: inherit;
        transition: all ease 0.3s; }
      .footer-container .footer-row .footer-card .footer-body a:hover {
        color: #4cda36; }
      .footer-container .footer-row .footer-card .footer-body .black {
        color: black; }
      .footer-container .footer-row .footer-card .footer-body .green {
        color: #4cda36; }

.modal .modal-dialog {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal .modal-dialog .modal-content .modal-body {
    padding: 25px;
    position: relative; }
    .modal .modal-dialog .modal-content .modal-body .head-text {
      font-size: 20px; }
    .modal .modal-dialog .modal-content .modal-body .close-btn {
      position: absolute;
      right: 15px;
      top: 15px;
      padding: 0;
      line-height: 1;
      background-color: transparent;
      border: none; }
      .modal .modal-dialog .modal-content .modal-body .close-btn .fa {
        color: inherit;
        font-size: 18px;
        line-height: 1;
        transition: all ease 0.3s; }
      .modal .modal-dialog .modal-content .modal-body .close-btn .fa:hover {
        color: #e04343; }
    .modal .modal-dialog .modal-content .modal-body .socials-wrap {
      margin-top: 20px; }
      .modal .modal-dialog .modal-content .modal-body .socials-wrap .social-img {
        width: 250px;
        border-radius: 3px;
        margin: 5px 0; }

.main-sp-container {
  padding-top: 90px; }
  .main-sp-container .main-sp-row {
    padding: 150px 0; }
    .main-sp-container .main-sp-row .page-title {
      color: white;
      font-family: Gudea-Bold;
      font-size: 70px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .main-sp-container .main-sp-row .breadcrumb {
      display: flex;
      justify-content: center;
      border: 0;
      background-color: transparent; }
      .main-sp-container .main-sp-row .breadcrumb .breadcrumb-item {
        font-family: Gudea-Bold;
        line-height: 1;
        font-size: 22px; }
        .main-sp-container .main-sp-row .breadcrumb .breadcrumb-item a {
          color: white;
          font-size: 22px;
          font-family: Gudea-Bold;
          transition: all ease 0.3s; }
        .main-sp-container .main-sp-row .breadcrumb .breadcrumb-item a:hover {
          color: #d6c427; }
      .main-sp-container .main-sp-row .breadcrumb .breadcrumb-item.active {
        color: #c4c4c4; }

.clients-container img {
  padding: 10px 0;
  width: 100%;
  height: auto; }

@media only screen and (min-width: 1200px) {
  .logo-wrap {
    padding-left: 0; }

  .desktop-menu {
    padding-right: 0; } }
@media only screen and (max-width: 992px) {
  .menu-container .menu-row .menu-col .desktop-menu .menu-item {
    margin-right: 25px; } }
@media only screen and (min-width: 768px) {
  .mobile-body {
    display: none !important; } }
@media only screen and (max-width: 768px) {
  .clients-container, .contact-sp, .team-container, .s-detail-container, .reviews-container {
    padding: 40px 0; }

  .menu-container .menu-row .menu-col {
    height: 50px; }
    .menu-container .menu-row .menu-col .logo-wrap img {
      width: 90px;
      height: auto; }

  .slider-container {
    margin-top: 50px; }
    .slider-container .slider-row .carousel .carousel-card img {
      width: 100%; }
    .slider-container .slider-row .carousel .carousel-card .carousel-text {
      font-size: 18px !important; }

  .new-slider .new-slider-row .new-slider-col .typewrite {
    font-size: 40px; }

  .partners-container .partners-row .info-col {
    border-right: 0; }
    .partners-container .partners-row .info-col .info-wrap {
      padding: 0 0;
      align-items: center; }
      .partners-container .partners-row .info-col .info-wrap .company-name {
        font-size: 36px;
        margin-bottom: 10px; }
      .partners-container .partners-row .info-col .info-wrap .company-slogan {
        font-size: 20px; }
  .partners-container .partners-row .partners-col {
    max-width: 450px; }
    .partners-container .partners-row .partners-col .partners-wrap .partner .partner-img-wrap {
      display: flex;
      align-items: center; }
    .partners-container .partners-row .partners-col .partners-wrap .partner .sub-service .sub-service-img {
      margin: 2px; }
  .partners-container .partners-row .partners-text {
    padding-top: 10px; }

  .display-md-none {
    display: none !important; }

  .mobile-menu {
    display: block; }

  .slider-container .slider-row .carousel .carousel-card {
    height: 250px; }
    .slider-container .slider-row .carousel .carousel-card .carousel-text {
      font-size: 26px; }
  .slider-container .slider-row .carousel .fa-arrow-right, .slider-container .slider-row .carousel .fa-arrow-left {
    font-size: 18px;
    color: #4cda36; }

  .service-container .service-submain {
    font-size: 16px; }
  .service-container .service-row .service {
    height: 120px; }
    .service-container .service-row .service .fa {
      width: 50px;
      height: 50px;
      font-size: 20px; }
    .service-container .service-row .service .service-title {
      font-size: 16px; }
    .service-container .service-row .service .service-text {
      display: none; }
  .service-container .service-row .service:hover .service-title {
    font-size: 18px;
    color: #4cda36; }

  .team-container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.82) 0%, white 50%, rgba(253, 253, 253, 0.84) 100%), url(../img/target.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .team-container .team-row {
      padding: 0 20px;
      text-align: center; }
      .team-container .team-row .team-bottom .seal-wrap .seal {
        height: 80px;
        width: 80px; }
      .team-container .team-row .team-bottom .learn-more-btn .learn-btn a {
        padding: 15px !important;
        font-size: 16px; }
      .team-container .team-row .team-bottom .learn-more-btn .learn-btn .fa-long-arrow-right {
        display: none; }
      .team-container .team-row .section-text {
        padding: 0 20px; }

  .s-detail-container .s-detail-row .s-detail .s-card-wrap .s-card {
    max-width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; }
    .s-detail-container .s-detail-row .s-detail .s-card-wrap .s-card .s-icon {
      width: 25%; }
      .s-detail-container .s-detail-row .s-detail .s-card-wrap .s-card .s-icon .fa {
        font-size: 30px; }
    .s-detail-container .s-detail-row .s-detail .s-card-wrap .s-card .s-text {
      width: 75%; }

  .steps-container {
    padding-bottom: 40px; }
    .steps-container .steps-row .steps-card-wrap {
      padding: 5px; }
      .steps-container .steps-row .steps-card-wrap .steps-card {
        height: 50px;
        width: 50px;
        padding: 7px;
        box-shadow: inset 0px 2px 10px -2px #bbbaba; }
        .steps-container .steps-row .steps-card-wrap .steps-card .steps-card-nr {
          font-size: 15px; }
      .steps-container .steps-row .steps-card-wrap .steps-card-title {
        margin-top: 5px;
        font-size: 12px; }
    .steps-container .steps-row .back-line {
      box-shadow: inset 0px 2px 10px -2px #bbbaba;
      top: 26%;
      height: 15px; }
    .steps-container .card-body {
      padding: 5px; }
      .steps-container .card-body .card-body-text {
        font-size: 16px; }
      .steps-container .card-body .slider-line {
        height: 7px; }
        .steps-container .card-body .slider-line .small-arrow-up {
          top: -6px;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #4CAF50; }
        .steps-container .card-body .slider-line .right-1 {
          right: 60%; }
        .steps-container .card-body .slider-line .right-2 {
          right: 25%; }
        .steps-container .card-body .slider-line .right-3 {
          right: 13%; }
        .steps-container .card-body .slider-line .right-4 {
          right: 7%; }

  .reviews-container .reviews-row .carousel .carousel-item .inner-wrap .quote {
    font-size: 14px; }

  .footer-container .footer-row .footer-card {
    min-width: 150px; }
    .footer-container .footer-row .footer-card .footer-head .footer-title {
      font-size: 20px; }
    .footer-container .footer-row .footer-card .footer-body ul li {
      margin: 6px 0; }
    .footer-container .footer-row .footer-card .footer-body a {
      font-size: 16px; }

  .main-sp-container {
    padding-top: 70px; }
    .main-sp-container .main-sp-row {
      padding: 50px 0; }
      .main-sp-container .main-sp-row .page-title {
        font-size: 30px; }
      .main-sp-container .main-sp-row .breadcrumb {
        padding: 10px; }
        .main-sp-container .main-sp-row .breadcrumb .breadcrumb-item {
          font-family: Gudea-Regular;
          font-size: 14px; }
          .main-sp-container .main-sp-row .breadcrumb .breadcrumb-item a {
            font-family: Gudea-Regular;
            font-size: 14px; } }

/*# sourceMappingURL=index.css.map */
